*.exe
*.dll
*.pdb
*.txt
*.Cache
Plock/bin/
Plock/obj/
HelloMaze/obj/
HelloMaze/bin/
HelloMaze/BitmapPaint/obj/
HelloMaze/BitmapPaint/bin/
HelloMaze/GraphicScliptBlock/obj/
HelloMaze/GraphicScliptBlock/bin/


Plock.v12.suo